
# misc
.DS_Store
*.pem
*.db

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# lock files
uv.lock

# LangGraph API
.langgraph_api

# python
.venv/
__pycache__/
*.pyc
.env
